---
title: About
---
<section class="diagonal patterned">
	<div class="container">
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong>Manage Staff members</a></p>
		<ul class="image-grid">
			{% for member in site.staff_members %}
				<li>{% include staff-member.html member=member %}</li>
			{% endfor %}
		</ul>
		<p>Danish Rafiq Bhat from Sharkoot, Kupwara, Jammu and Kashmir, 193224</p>
		<br/>
		<p>Phone: +919797072489  +917780981092</p>
		<br/>
		<p>E-mail: Jajbhat.jb@gmail.com</p>
	</div>
</section>
